<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Turtlecoin Mining Info</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script th:inline="javascript">
        var nr = [[${number}]];
        var snr = [[${sort}]];
    </script>
</head>
<body>

<div class="container">
    <a th:href="@{${url}}"><h3>Turtlecoin Mining Info</h3></a>
    <div th:if="${not #lists.isEmpty(networks)}">
        
        <div class="resultTable">
            <table class="table table-striped" id="trtl">
                <thead>
                <tr>
                    <th>Id <a th:href="@{${url}(sort='id,asc',page=${number})}"><span class="glyphicon glyphicon-chevron-up"></span></a><a th:href="@{${url}(sort='id,desc',page=${number})}"><span class="glyphicon glyphicon-chevron-down"></span></a></th>
                    <th>Time <a th:href="@{${url}(sort='created,asc',page=${number})}"><span class="glyphicon glyphicon-chevron-up"></span></a><a th:href="@{${url}(sort='created,desc',page=${number})}"><span class="glyphicon glyphicon-chevron-down"></span></a></th>
                    <th>Hashrate <a th:href="@{${url}(sort='hashrate,asc',page=${number})}"><span class="glyphicon glyphicon-chevron-up"></span></a><a th:href="@{${url}(sort='hashrate,desc',page=${number})}"><span class="glyphicon glyphicon-chevron-down"></span></a></th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="net : ${networks}">
                    <td th:col-id="${net.id}" th:text="${net.id}"></td>
                    <td th:col-id="${net.id}" th:text="${net.created}"></td>
                    <td th:col-id="${net.id}"><a href="#my_modal" data-toggle="modal" th:data-id="${net.id}"><span th:text="${net.hashrate} + ' H/s'"></span></a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <ul class="pagination">
                <li th:each='i : ${#numbers.sequence(0,page.totalPages-1)}' style="display:inline">
                    <span th:if='${i}==${page.number}' th:text='${i+1}'>1</span>
                    <a th:if='${i}!=${page.number} and ${urii}==null' th:href="@{${url}(page=${i})}">
                        <span th:text='${i+1}'>1</span>
                    </a>
                    <a th:if='${i}!=${page.number} and ${urii}!=null' th:href="@{${url}(sort=${urii},page=${i})}">
                        <span th:text='${i+1}'>1</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>

<div class="modal" id="my_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Pools Information</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="netId" id="netId" value=""/>
                <script>
                    function showData(adr) {
                        const apiURL = '/api/pool/info';
                        $.getJSON(apiURL + '?id=' + adr, function (data) {
                            var htmlText = "";
                            var dt = JSON.stringify(data);
                            var json = JSON.parse(dt);

                            htmlText = '<table class="table table-striped"><thead><tr><td>Name</td><td>Hashrate</td></tr></thead><tbody>';
                            $(".hashes-list").empty();
                                htmlText += '<tr>';
                                for (var pool in json) {
                                    htmlText += '<tr><td>' + json[pool].name + '</td>';
                                    htmlText += '<td>' + json[pool].hashrate + ' H/s' + '</td></tr>';
                                }
                                htmlText += '</tr>';
                            htmlText += '</tbody></table>';
                            $(".hashes-list").append(htmlText);
                        });
                    }
                </script>
                <div class="hashes-list" id="hashesList"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var network = "";
    var rate = 10000;
    var tab = new Array();
    var rows = new Array();
    var rowCount = $("#trtl  td").closest("tr").length;
    var jsonjs;
    var $table = $('.resultTable table');

    $(window).load(function(){
        $('#my_modal').on('show.bs.modal', function(e) {
            var netId = $(e.relatedTarget).data('id');
            $(e.currentTarget).find('input[name="netId"]').val(netId);
            network = netId;
            showData(netId);
        });
    });

    $(window).load(function(){
        $('#my_modal').on('show.bs.modal', function(e) {
            var netId = $(e.relatedTarget).data('id');
            $(e.currentTarget).find('input[name="netId"]').val(netId);
            network = netId;
            showData(netId);
        });
    });

    $(document).ready(function () {
        function poolData() {
            $.ajax({
                url: '/api/network/record?p=' + nr,
                type: "get",
                dataType: "json",
                success: function (response) {
                    var tmp = "";
                    var dt = JSON.stringify(response);
                    jsonjs = JSON.parse(dt);
                    if (snr == null || snr == "desc") {
                        reloadTable(jsonjs.content);
                    }
                }
            });
        }
        function reloadTable(data) {
            $table.find('tbody').html('');
            var tbody = '';
            data.forEach(function(item){
                tbody += '<tr><td col-id="'  + item.id + '">'  + item.id + '</td><td col-id="'  + item.id + '">'  + item.created + '</td><td col-id="'  + item.id + '"><a href="#my_modal" data-toggle="modal" data-id="'  + item.id + '"><span>'  + item.hashrate + ' H/s'+'</span></a></td></tr>';
            });
            $table.find('tbody').html(tbody);
        }
        setInterval(function() {poolData();}, rate);
    });
</script>
</body>
</html>
