<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Turtlecoin Mining Info</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script type="text/javascript">
        var network = "";
        var rate = 10000;
        var tab = new Array();
        var temp = new Array();
        var tempA = new Array();
        var vx = new Array();
        var rows = new Array();
        var old = new Array();
        var tempo = new Array();
        var match = new Array();
        var matchA = new Array();
        var finalA = new Array();
        var rowCount = $("#trtl  td").closest("tr").length;
        var max = 1;
        var maxUpdate = 1;
        var jsonCount = 0;
        var jsonjs;
    </script>
    <script type="text/javascript">
        $(window).load(function(){
            $('#my_modal').on('show.bs.modal', function(e) {
                var netId = $(e.relatedTarget).data('id');
                $(e.currentTarget).find('input[name="netId"]').val(netId);
                network = netId;
                showData(netId);
            });
        });
    </script>

    <script type="text/javascript">
        $(window).load(function(){
            $('#my_modal').on('show.bs.modal', function(e) {
                var netId = $(e.relatedTarget).data('id');
                $(e.currentTarget).find('input[name="netId"]').val(netId);
                network = netId;
                showData(netId);
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            function poolData() {
                $.ajax({
                    url: '/api/record',
                    type: "get",
                    dataType: "json",
                    success: function (response) {
                        //new data from pg endpoint
                        var tmp = "";
                        var dt = JSON.stringify(response);
                        jsonjs = JSON.parse(dt);

                        for (i = 0; i < rowCount; i++) {
                            tab[i] = new Array(i);
                            for (j = 0; j < rows[i].length; j++) {
                                if (j == 0) {
                                    tab[i][j] = jsonjs.content[i].generalNetwork.id;
                                }
                                if (j == 1) {
                                    tab[i][j] = jsonjs.content[i].created;
                                }
                                if (j == 2) {
                                    tab[i][j] = jsonjs.content[i].generalNetwork.hashrate;
                                }
                            }
                        }
                    }
                });

/////////////////////////////////////////////////////////////
  /*
                var headers = "";
                $("#trtl").empty();
                headers += "<thead>";
                headers += "<tr>";
                headers += "<th>Id <a href=\"?sort=id,asc\"><span class=\"glyphicon glyphicon-chevron-up\"></span></a><a href=\"?sort=id,desc\"><span class=\"glyphicon glyphicon-chevron-down\"></span></a></th>";
                headers += "<th>Time <a href=\"?sort=created,asc\"><span class=\"glyphicon glyphicon-chevron-up\"></span></a><a href=\"?sort=created,desc\"><span class=\"glyphicon glyphicon-chevron-down\"></span></a></th>";
                headers += "<th>Hashrate <a href=\"?sort=generalNetwork.hashrate,asc\"><span class=\"glyphicon glyphicon-chevron-up\"></span></a><a href=\"?sort=generalNetwork.hashrate,desc\"><span class=\"glyphicon glyphicon-chevron-down\"></span></a></th>";
                headers += "</tr></thead><tbody>";

                for(i=1; i<$(finalA).length + 1; i++) {
                    headers += "<tr>";
                    var idd;
                    for(j=0; j<$(finalA[i]).length; j++) {
                        if(j==0 && i!=0){
                            idd = $(finalA[i][j]).text();
                            headers += "<td col-id=\"" + $(finalA[i][i]).text() + "\">" + $(finalA[i][j]).text() + "</td>";
                        }
                        if(j==1 && i!=0){
                            headers += "<td col-id=\"" + idd + "\">" + $(finalA[i][j]).text() + "</td>";
                        }
                        if(j==2 && i!=0){
                            //headers += "<td></td>";
                            headers += "<td col-id=\"" + idd + "\">" +
                                "<a href=\"#my_modal\" data-toggle=\"modal\" data-id=" + idd + ">" +
                                "<span>" + $(finalA[i][j]).text() + "</span></a>"+"</td>";
                        }
                    }
                    headers += "</tr>";
                }
                headers += "</tbody>";
                $("#trtl").append(headers);

*/
/////////////////////////////////////////////////////////////

                //render
/*                var headers = "";
                $("#trtl").empty();
                headers += "<thead>";
                headers += "<tr>";
                headers += "<th>Id <a href=\"?sort=id,asc\"><span class=\"glyphicon glyphicon-chevron-up\"></span></a><a href=\"?sort=id,desc\"><span class=\"glyphicon glyphicon-chevron-down\"></span></a></th>";
                headers += "<th>Time <a href=\"?sort=created,asc\"><span class=\"glyphicon glyphicon-chevron-up\"></span></a><a href=\"?sort=created,desc\"><span class=\"glyphicon glyphicon-chevron-down\"></span></a></th>";
                headers += "<th>Hashrate <a href=\"?sort=generalNetwork.hashrate,asc\"><span class=\"glyphicon glyphicon-chevron-up\"></span></a><a href=\"?sort=generalNetwork.hashrate,desc\"><span class=\"glyphicon glyphicon-chevron-down\"></span></a></th>";
                headers += "</tr></thead><tbody>";

                for(i=1;i<$(old).length + 1;i++) {
                    headers += "<tr>";
                    var idd;
                    for(j=0; j<$(old[i]).length; j++) {
                        if(j==0 && i!=0){
                            idd = $(old[i][j]).text();
                            headers += "<td col-id=\"" + $(old[i][i]).text() + "\">" + $(old[i][j]).text() + "</td>";
                        }
                        if(j==1 && i!=0){
                            headers += "<td col-id=\"" + idd + "\">" + $(old[i][j]).text() + "</td>";
                        }
                        if(j==2 && i!=0){
                            headers += "<td col-id=\"" + idd + "\">" +
                                "<a href=\"#my_modal\" data-toggle=\"modal\" data-id=" + idd + ">" +
                                "<span>" + $(old[i][j]).text() + "</span></a>"+"</td>";
                        }
                    }
                    headers += "</tr>";
                }
                headers += "</tbody>";
                $("#trtl").append(headers);
                */

//--------------------------------------------------------------------------------

                updateTbl();
                renderTbl();
            }
            setInterval(function() {poolData();}, rate);
        });

        function updateTbl() {
//            console.log(tab);
            //update
            rowCount = $("#trtl  td").closest("tr").length;
            //get old html content
            for(i=0;i<rowCount+1;i++) {
                rows[i]=document.getElementById("trtl").rows[i].cells;
                old[i] = new Array(i);
                for(j=0; j<rows[i].length; j++) {
                    rows[i][j]=$(rows[i][j]).text();
                    rows[i][j]=$(rows[i][j]).children('td').text();

                    var v = rows[i][j];
                    if(i==0){
                        old[i][j] = rows[i][j];
                    }
                    if(j==0 && i!=0){
                        if($(v).text()>max){
                            max=$(v).text();
                        }
                        old[i][j] = $(v).text();
                    }

                    old[i][j] = rows[i][j];
                    //var www = old[i][j];
                    //console.log($(old[i][j]).text());
                }
            }

            for(i=0;i<rowCount+1;i++) {
                temp[i] = new Array(i);
                //  for (j = 0, k=1; j < rows[i].length; j++,k++) {
                for (j = 0; j < rows[i].length; j++) {
                    temp[i][j] = old[i][j];
                    //console.log($(temp[i][j]).text());
                    //tempA[i] = temp[k][j];
                }
            }

//               temp -> stara tablica
//               tab  -> nowa  tablica
//               key, tempA  -> połaczana

            for(i=0;i<rowCount+1;i++) {
                tempA[i] = new Array(i);
                for (j = 0; j < rows[i].length; j++) {
                    tempA[i][j] = $(temp[i][j]);
                }
            }

//            console.log("TEMPA: ");
//            console.log(tempA);
//            console.log("TAB: ");
//            console.log(tab);

            for(i=0; i<rowCount; i++) {
                vx[i] = new Array(i);
                for (j = 0; j < rows[i].length; j++) {



                    //tempA[i][j] = temp[i][j];
//                        if( tab[i][0].text()> tempA[i][0].text()){
//                            tempA[i][j] = tab[i][j];
//                            jsonCount++
//                        }
//                        if(tab.indexOf(max) !== -1) {
//                        }
                    //vx[i][j] = tab[i][0];
//                        if (j == 0) {
//                                if($(vx)>max){
//                                    tempA[i][j] = tab[i][j];
                    //tempA.unshift(tab[i][j]);
                    //jsonCount++;
//                                }
//                            }
//                        key =
                    //key.push()
                    // console.log($(temp[i][j]).text());

                }
            }

            // console.log("jsc: " + jsonCount);
            // console.log(tempA);

            for(i=0;i<rowCount;i++) {
                matchA[i] = new Array(i);
                for (j = 0; j < rows[i].length; j++) {

                    // matchA[i][j] =
                    //temp.shift();
                    //console.log(temp);
                    // matchA[i][j] = temp[i][j];
                }
            }
//                for(i=0;i<rowCount;i++) {
//                    matchA[i] = new Array(i);
//                    for (j = 0; j < rows[i].length; j++) {
//                        matchA[i][j] = old.
//                    }
//                }

//                for(i=0;i<rowCount+1;i++) {
//                    match[i] = new Array(i);
//                    for (j = 0; j < rows[i].length; j++) {
//                        match[i][j] = old[i][j];
//                        if (match.indexOf('432') !== -1) {
//                            console.log('index ' + match.indexOf('432'));
//                        }
//                        console.log('index ' + match.indexOf('432'));
//                    }
//                }

            //match contents
            for(i=0;i<rowCount+1;i++) {
                finalA[i] = new Array(i);
                for(j=0; j<rows[i].length; j++) {
                    finalA[i][j] = tempA[i][j];
                }
            }

            console.log("FINAL-A: ");
            console.log(finalA);

//            finalA.unshift(tab.splice(2, 1));

            finalA.shift();
            finalA.unshift($(tab[0]));
            finalA.unshift($(tab[1]));
            finalA.unshift($(tab[2]));
            finalA.unshift($(tab[3]));
            finalA.unshift($(tab[4]));

            finalA.pop();
            finalA.pop();
            finalA.pop();
            finalA.pop();
            finalA.pop();

//               finalA.unshift(old[0]); //dodanie nagłówka
//                finalA.unshift(old[0]); //dodanie nagłówka
//                finalA.pop(); //usunięcie ostatniego wiersza
//              console.log(finalA); //na końcu zamienić $old na $finalA

        }

        function renderTbl() {
            var headers = "";
            $("#trtl").empty();
            headers += "<thead>";
            headers += "<tr>";
            headers += "<th>Id <a href=\"?sort=id,asc\"><span class=\"glyphicon glyphicon-chevron-up\"></span></a><a href=\"?sort=id,desc\"><span class=\"glyphicon glyphicon-chevron-down\"></span></a></th>";
            headers += "<th>Time <a href=\"?sort=created,asc\"><span class=\"glyphicon glyphicon-chevron-up\"></span></a><a href=\"?sort=created,desc\"><span class=\"glyphicon glyphicon-chevron-down\"></span></a></th>";
            headers += "<th>Hashrate <a href=\"?sort=generalNetwork.hashrate,asc\"><span class=\"glyphicon glyphicon-chevron-up\"></span></a><a href=\"?sort=generalNetwork.hashrate,desc\"><span class=\"glyphicon glyphicon-chevron-down\"></span></a></th>";
            headers += "</tr></thead><tbody>";

            for(i=1; i<$(finalA).length + 1; i++) {
                headers += "<tr>";
                var idd;
                for(j=0; j<$(finalA[i]).length; j++) {
                    if(j==0 && i!=0){
                        console.log("id :"+ $(finalA[i][j]).text());
                        idd = $(finalA[i][j]).text();
                        headers += "<td col-id=\"" + $(finalA[i][i]).text() + "\">" + $(finalA[i][j]).text() + "</td>";
                    }
                    if(j==1 && i!=0){
                        headers += "<td col-id=\"" + idd + "\">" + $(finalA[i][j]).text() + "</td>";
                    }
                    if(j==2 && i!=0){
                        headers += "<td col-id=\"" + idd + "\">" +
                            "<a href=\"#my_modal\" data-toggle=\"modal\" data-id=" + idd + ">" +
                            "<span>" + $(finalA[i][j]).text() + "</span></a>"+"</td>";
                    }

                }
                headers += "</tr>";
            }
            headers += "</tbody>";
            $("#trtl").append(headers);
        }
    </script>
</head>
<body>

<div class="container">
    <div th:if="${not #lists.isEmpty(networks)}">
        <a th:href="@{${url}}"><h3>Turtlecoin Mining Info</h3></a>

        <div class="resultTable">
            <table class="table table-striped" id="trtl">
                <thead>
                <tr>
                    <th>Id <a th:href="@{${url}(sort='id,asc',page=${number})}"><span class="glyphicon glyphicon-chevron-up"></span></a><a th:href="@{${url}(sort='id,desc',page=${number})}"><span class="glyphicon glyphicon-chevron-down"></span></a></th>
                    <th>Time <a th:href="@{${url}(sort='created,asc',page=${number})}"><span class="glyphicon glyphicon-chevron-up"></span></a><a th:href="@{${url}(sort='created,desc',page=${number})}"><span class="glyphicon glyphicon-chevron-down"></span></a></th>
                    <th>Hashrate <a th:href="@{${url}(sort='generalNetwork.hashrate,asc',page=${number})}"><span class="glyphicon glyphicon-chevron-up"></span></a><a th:href="@{${url}(sort='generalNetwork.hashrate,desc',page=${number})}"><span class="glyphicon glyphicon-chevron-down"></span></a></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="net : ${networks}">
                    <td th:each="items : ${net.generalNetwork}" th:col-id="${items.id}" th:text="${items.id}"></td>
                    <td th:each="items : ${net.generalNetwork}" th:col-id="${items.id}" th:text="${net.created}"></td>
                    <td th:each="items : ${net.generalNetwork}" th:col-id="${items.id}"><a href="#my_modal" data-toggle="modal" th:data-id="${items.id}">
                        <span th:each="items : ${net.generalNetwork}" th:text="${items.hashrate}"></span></a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <ul class="pagination">
                <li th:each='i : ${#numbers.sequence(0,page.totalPages-1)}' style="display:inline">
                    <span th:if='${i}==${page.number}' th:text='${i+1}'>1</span>
                    <a th:if='${i}!=${page.number} and ${urii}==null' th:href="@{${url}(page=${i})}">
                        <span th:text='${i+1}'>1</span>
                    </a>
                    <a th:if='${i}!=${page.number} and ${urii}!=null' th:href="@{${url}(sort=${urii},page=${i})}">
                        <span th:text='${i+1}'>1</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>

<div class="modal" id="my_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Pools Information</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="netId" id="netId" value=""/>
                <script>
                    function showData(adr) {
                        const apiURL = '/api/network';
                        $.getJSON(apiURL + '?id=' + adr, function (data) {
                            var htmlText = "";
                            var dt = JSON.stringify(data);
                            var json = JSON.parse(dt);

                            htmlText = '<table class="table table-striped"><thead><tr><td>Name</td><td>Hashrate</td></tr></thead><tbody>';
                            $(".hashes-list").empty();
                                htmlText += '<tr>';
                                for (var pool in json.pools) {
                                    htmlText += '<tr><td>' + json.pools[pool].name + '</td>';
                                    htmlText += '<td>' + json.pools[pool].hashrate + '</td></tr>';
                                }
                                htmlText += '</tr>';
                            htmlText += '</tbody></table>';
                            $(".hashes-list").append(htmlText);
                        });
                    }
                </script>
                <div class="hashes-list" id="hashesList"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
